body {
background-color:#e6e6fa;
}

img {
  display: block;
  max-width: 75%;
  height:400px;
}

nav {
  list-style-type: none;
  position: fixed;
  width: 100%;
  background-color: ghostwhite;
  top: 0;
  left: 0;
  color: black;
}

li {
  display: incline;
  padding: 17px;
  float: left;
}

li:hover {
  background-color: lavendar;
}

a {
  text-decoration: none;
  color: black;
}

h2 { 
color: black;
text-align: center;
font-size: 90px;
letter-spacing: 10px; 
 
}
